$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'bulma/bulma';

$m-main-nav-gutter: 0.6rem;
$c-main-nav-bg: hsl(0, 4%, 20%);
$c-main-nav-text: #e6e6e6;
$d-main-nav-border: lighten($c-main-nav-bg, 8%) solid 0.1rem;
$f-title: 'Comfortaa', cursive;
$t-animation: 300ms;

.full-screen-app {
  display: flex;
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.main-nav {
  flex-shrink: 0;
  background: $c-main-nav-bg;

  color: $c-main-nav-text;

  &-title {
    padding: 0.8rem $m-main-nav-gutter;
    transition: font-size $t-animation;

    border-bottom: $d-main-nav-border;

    font-family: $f-title;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;

    text-align: center;
  }

  &-list {
    font-size: 1.2rem;

    li {
      padding: $m-main-nav-gutter;
      border-bottom: $d-main-nav-border;
    }

    .is-animiated-on-collapse {
      display: inline-block;

      max-width: 15rem;
      transition: max-width ($t-animation * 2);
      overflow: hidden;
    }
  }

  &.is-collapse {
    .main-nav-title {
      font-size: 1rem;
    }

    .main-nav-list {
      li {
        text-align: center;
      }

      .is-animiated-on-collapse {
        max-width: 0;
      }
    }
  }
}

.is-fullwidth {
  flex-grow: 1;
  width: 100%;
}

.is-scrollable-y {
  overflow-y: scroll;
}

.button {
  &.is-hover-only {
    transition: 0.4s ease-in;

    border: 0;
    outline: none;
    background: none;

    &:hover {
      background: rgba($c-main-nav-bg, 0.2);
    }
  }
}
